@import "tailwindcss";

@theme {
  --color-primary: #74d4ff;
  --color-primary-foreground: #36383c;
  --color-primary-background: #f2f2f2;
  --color-card: #ffffff;
  --color-input-border: #dbdddf;
  --color-input-focus: #00a6f4;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #252525;
  background-color: #f8f8f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
